:root {
    --main-color: #7C6BC8;
    --sub-color01: #9D8CEF;
    --sub-color02: #ADA2F2;
    --sub-color03: #C4BDF2;
    --sub-color04: #F7F6FE;
    --sub-color05: #8985A6;
    --sub-color06: #F2F2F2;
}